#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=Editor de código
Exec=/tmp/atom-build/Atom/atom
Icon=/home/xxx/Copy/Apps/atom_1024x1024x32.png
Name=Atom Editor
Type=Application
