#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=Editor de código
Exec=atom
Icon=/home/xxx/Copy/Apps/atom-0.101.0/resources/atom-2.png
Name=Atom Editor
Type=Application
