#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Brackets
Type=Application
Categories=Development;IDE;
Exec=/opt/brackets/brackets %U
Icon=brackets
MimeType=text/html;

