#!/usr/bin/env xdg-open
[Desktop Entry]
X-SuSE-translate=true
Name=FileZilla
GenericName=FTP client
Comment=Download and upload files via FTP, FTPS and SFTP
Exec=filezilla
Terminal=false
Icon=filezilla
Type=Application
Categories=Network;FileTransfer;
Version=1.0

