#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Mozilla Firefox
Comment=Navegador web
Icon=/opt/firefox/browser/chrome/icons/default/default48.png
Exec=/opt/firefox/firefox
Type=Application