[Desktop Entry]
Comment=Filmes
Exec=/home/xxx/Copy/Apps/popcorn-app/build/releases/Popcorn-Time/linux64/Popcorn-Time/Popcorn-Time
Icon=/home/xxx/Copy/Apps/popcorn-app/src/app/images/icon.png
Name[pt_BR]=Popcorn Time
Name=Popcorn Time
Type=Application
