[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Sputnik
Comment=RSS Reader
Exec=/opt/Sputnik/sputnik.sh
Icon=/opt/Sputnik/visual/icon.png
Terminal=false
Categories=Application;Network;News;