[Desktop Entry]
Comment=Editor de código
Exec=/home/xxx/sublime_text_3/sublime_text
Icon=/home/xxx/sublime_text_3/Icon/256x256/sublime-text.png
Name[pt_BR]=Sublime Text  3
Name=Sublime Text 3
Type=Application
